# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# OS
.DS_Store

# Data files generated at runtime
app/in_banks.json

# Caches
.cache/
*.cache

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
